.navbar {
  background-color: white;
  color: black;
  position: fixed;
  padding-block:5px;
  width: 100%;
  display: inline-block;
  z-index: 100;
}

.home-icon {
  font-size: 30px;
  vertical-align: middle;
}

.navbar>h1 {
  display: inline-block;
  padding-inline: 10px;
  vertical-align: middle;
  font-size: 25px;
}

.navbar-links {
  list-style: none;
  display: inline-block;
  padding-inline: 10px;
  vertical-align: -3px;
}

.navbar-links-item {
  display: inline-block;
  vertical-align: middle;
  padding-inline: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 25px;
}

.navbar-links-item>a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}

.navbar-links-item>a:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  position: relative;
  inset-inline-start: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  transition: 300ms;
}

.navbar-links-item>a:hover::after {
  width: 100%;
}

.fb-button {
  display: inline;
  float: right;
}

.fb-logout-button{
  background-color: rgb(57, 117, 234);
  color: white;
  font-size: 13px;
  border: 0;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  padding: 10px 10px;
  font-weight: 800;
  cursor: pointer;
}

.my-facebook-button-class{
  background-color: rgb(57, 117, 234);
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  margin-right:5px;
  font-family: "Inter", sans-serif;
  padding: 10px 10px;
  font-weight: 800;
  cursor: pointer;
  text-transform:lowercase;
}

.fb-icon {
  vertical-align: -10%;
  font-size: 15px;
  padding-right: 10px;
}

@media (max-width: 650px) {
  .fb-button {
    position: fixed;
    top: 0;
    right: 0;
  }
}