.navbar {
  background-color: white;
  color: black;
  position: fixed;
  padding-block:5px;
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid black;
  z-index: 100;
}

.home-icon {
  font-size: 30px;
  vertical-align: middle;
}

.navbar>h1 {
  display: inline-block;
  padding-inline: 10px;
  vertical-align: middle;
  font-size: 25px;
  border-right: 3px solid black;
}

.navbar-links {
  list-style: none;
  display: inline-block;
  padding-inline: 10px;
  vertical-align: middle;
}

.navbar-links-item {
  display: inline-block;
  vertical-align: middle;
  padding-inline: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 25px;
}

.navbar-links-item>a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}

.navbar-links-item>a:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  position: relative;
  inset-inline-start: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  transition: 300ms;
}


.navbar-links-item>a:hover::after {
  width: 100%;
}
