.property-card {
  /* border-left: 5px solid rgb(61,78,58);
  border-top: 5px solid rgb(61,78,58); */
  border-right: 3px solid rgba(143, 139, 139, 0.554);
  border-bottom: 3px solid rgba(61, 78, 58, 0.362);
  border-radius: 7px;
  margin-top: 20px;
  padding-top:10px;
  padding-bottom: 20px;
  padding-inline:10px;
  background-color: rgba(255, 255, 255, 0.915);
  width: 300px;
  max-height: 130px;
}

.card__price {
  margin-bottom:15px;
}
.mail-to {
  text-decoration: none;
  background-color: rgba(61, 78, 58, 0.909);
  border-radius: 5px;
  padding-inline:30px;
  padding-block: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}