.property-card {
  box-sizing:content-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 10px 20px 10px;
  background-color: rgb(255, 255, 255);
  width: 320px;
  max-height: 150px;
  font-weight: 500;
}

.card__price {
  margin-bottom:15px;
}

.mail-to {
  box-sizing: border-box;
  text-decoration: none;
  border: 3px solid rgb(31, 23, 23);
  background-color: rgb(31, 23, 23);
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.mail-to:hover {
  background-color: transparent;
  border: 3px solid black;
  color: black;
}

.save-button {
  border: 3px solid rgb(31, 23, 23);
  background-color: rgb(31, 23, 23);
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.save-button:hover {
  background-color: transparent;
  border: 3px solid black;
  color: black;
}