.property-card {
  box-sizing:content-box;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 10px 20px 10px;
  background-color: rgb(255, 255, 255);
  width: 320px;
  max-height: 150px;
  font-weight: 500;
}

.card__price {
  margin-bottom:15px;
}

.mail-to {
  text-decoration: none;
  border: 3px solid black;
  background-color: black;
  border-radius: 5px;
  padding-inline:30px;
  padding-block: 5px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.mail-to:hover {
  background-color: transparent;
  border: 3px solid black;
  color: black;
}