.sidebar {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  border-radius: 7px;
  margin-left: 10px;
  padding-block: 10px;
  padding-inline: 20px;
  width: 150px;
}

.toggle {
  display: none;
}
.sidebar__header {
  border: 3px solid black;
  background-color: black;
  border-radius: 5px;
  padding-inline:30px;
  padding-block: 5px;
  margin-bottom: 5px;
  display: block;
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.sidebar__links{
  max-height: 0px;
  overflow: hidden;
}
.toggle:checked + .sidebar__header + .sidebar__links{
  max-height: fit-content;
}


.sidebar__link {
  text-decoration: none;
  color: inherit;
  text-align: end;
}

.sidebar__link::after {
  content: '';
  width: 0px;
  height: 3px;
  display: flex;
  position: relative;
  transform: translate(-0%, 50);
  background-color: black;
  transition: 300ms;
}

.sidebar__link:hover:after {
  width: 65%;
}